node_modules
.next
.next-dev
.next.bak*
.turbo
playwright-report
test-results
coverage
*.log
out
build
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.git
.github
README.md
Dockerfile
.dockerignore
